.projects-section{

    .container{

        .title-part{
            text-align: center;
            padding-top: 70px;
            padding-bottom: 40px;

            @media (min-width: 768px){
                padding-top: 120px;
                padding-bottom: 90px;
            }
        }

        .project-part{
            // Display hanterar artiklar och responsiviteten
            display: grid;
            grid-template-columns: 1fr;  
            gap: 30px;

            @media (min-width: 768px){
            grid-template-columns: 1fr 1fr;
            }
            

            a{
                // Display hanterar innehållet av a-länkarna i rader
                display: grid;
                grid-template-rows: auto 1fr auto;
                text-decoration: none;
                color: #191919;

                &:hover{
                    img{
                        opacity: 0.5;
                    }

                    p{
                        text-decoration: underline;
                    }

                    h3{
                        border-bottom: 1px solid #191919;
                    }
                }

                img{
                    width: 100%;
                    height: auto;
                }

                h3{
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #DAD9D3;
                }

                p{
                    display: block;
                    text-align: right;
                    text-decoration: none;
                    color: #191919;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 15px;

                    i{
                        margin-left: 5px;
                    }
                }
            }
        }

        .center-content{
            margin-top: 50px;
            margin-bottom: 90px;
        }
    }
}